<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  {%load static %}

  <link rel="stylesheet" href="{% static 'dist/css/font.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <style>
    /* hide scrollbar */
    body {
    overflow: hidden;
  }
  </style>
  {% block css %}
  {% endblock %}

  <!-- javascript files -->
  <script type="text/javascript" src="{% static 'plugins/jquery-3.7.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/paho.javascript-1.0.3/paho-mqtt-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/REST.js' %}"></script>

  {% block javascript %}
  {% endblock %}

</head>

<body>

{% csrf_token %}
{% block contents %}
{% endblock %}


</body>

</html>
